[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = {version = ">=2.6.0", extras = ["swagger-ui"]}
swagger-ui-bundle = ">=0.0.2"
python-dateutil = ">=2.6.0"
Flask = "==1.1.2"

[dev-packages]

[requires]
python_version = "3.9"
